body {
  background-color: #003600;
  color: #ff768a;
}

.title {
  background-color:#582f00;
  border: 10px ridge #281100;
  margin-top: 2%;
  padding: 1%;
  text-align: center;
}

.box {
  background-color:#582f00;
  border: 10px ridge #281100;
  margin: 2%;
  padding: 1%;
}

.btn {
  background-color: #ff768a;
  color:#003600;
}